/* Here is your custom css styles. */
nav {
    background-color: #635e5e !important;
    background-image: none !important;
}

.page-footer {
    background-color: #635e5e !important;
    background-image: none !important;
}
